html {
    font-family: Roboto, sans-serif;
    --primary-color: #2f80ed;
    --secondary-color: #333333;
    --bg-color: #ffffff;
  }
  
  html[data-theme='dark'] {
    --primary-color: #2f80ed;
    --secondary-color: #ffffff;
    --bg-color: #202020;
  }
  
  body {
    background-color: var(--bg-color);
  }
  
  * {
    color: var(--secondary-color);
  }
  
  h1 {
    color: var(--primary-color);
    margin-bottom: 0.25em;
  }
  
  h3 {
    color: var(--primary-color);
  }
  
  a {
    color: var(--primary-color);
  }
  
  .cv {
    max-width: 900px;
    margin: 0 auto;
  }
  

  table {
    border-collapse: separate; /* Способ отображения границы */ 
    width: 100%; /* Ширина таблицы */ 
    border-spacing: 7px 11px; /* Расстояние между ячейками */ 
   }
   td {
    padding: 5px; /* Поля вокруг текста */ 
   }

   .form {
    box-shadow: 0 0 5px 0 grey;
    background: rgba(255, 255, 255, 0.71);
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 10px;
  }
  
  .btn {
    width: 200px;
    margin: 10px 0;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #afafaf;
    outline: none;
  }
  
  .btn:hover {
    cursor: pointer;
    box-shadow: 0 0 1px 0 black;
  }
  
  .btn:active {
    box-shadow: inset 0 0 2px 0 black;
  }
  
  .in-wrapper {
    padding: 10px;
    margin-top: 10px;
    width: 500px;
    display: flex;
    align-items: center;
  }
  
  .label {
    text-align: right;
  }
  
  .input {
    margin: 0 10px;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #afafaf;
    outline: none;
  }
  
  .input:focus {
    border: 1px solid #8bd48b;
  }

  .flex-column {
    display: flex;
    flex-flow: column;
  }
  
  .flex-row {
    display: flex;
    flex-flow: row;
  }
  
  .flex-content-center {
    justify-content: center;
    align-items: center;
  }
 
  .main {
    margin: 5vh 0;
    width: 70%;
    min-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
  }